/* LAPTOP SIZE */ 

@media screen and (max-width: 1024px) {
    
    body {
       margin: 3%;
    }

    .top-nav {
        margin-right: 55px;
        font-size: 19px;
    }

    #education {
        margin-top: 10%;
    }

    .navigation {
        margin-bottom: 10%;
    }


    #nav-items {
        margin-left: 25%;
        margin-top: -9%;
    }

    #buttons {
        margin-top: -5%;
    }

    .h1 {
        font-size: 30px;
    }

    #about {
        margin-left: 28%;
        margin-top: -28%;
    }

    #me {
        width: 200px;
        height: auto;
        margin-top: 15%;
        margin-left: 2%;
    }

    .square {
        width: 200px;
        height: auto;
        margin-top: -26%;
        margin-left: 2.5%;
    }

#me2 {
    width: 200px;
}

#me3 {
    width: 200px;
}

.video {
    width: 420px;
}

.project {
   width: 420px;
   height: 400px;
}

#projects {
    margin-top: 6%;
}

.projectH1 {
    font-size: 23px;
}

.projectTxt {
    padding-right: 6%;
}

#TKMH1 {
    font-size: 23px;
}

/* the temple */

.vid {
    width: 450px;
    margin-top: 5%;
}

.projectINFO {
    width: 50%;
    margin-top: -36.5%;
}

.projectP {
    font-size: 15px;
}

.IMG {
    width: 220px;
    height: 120px;
}

.projectIMG {
    height: 135px;
    width: 96%;
}

.RMIMG {
    height: 220px; 
  }

#eerieEscapeINFO {
    margin-top: -39%;
    height: 350px;
}

#TKMINFO {
    margin-top: -40%;
    height: 410px;
}

#TKMH1 {
    font-size: 22px;
}

#reciMealINFO {
    height: 340px;
    margin-top: -38%;
}

#skills {
    margin-top: -13%;
}

}


/* TABLET SIZE */ 

@media screen and (max-width: 768px) {

    .top-nav {
        font-size: 20px;
        margin-top: -5%;
        margin-left: 20px;
        margin-right: 2%;
    }

    #nav-items {
        float: right;
        width: 60%;
    }
     
    #myName {
        margin-right: 200px;
        font-size: 29px;
    }

    #navv {
        margin-bottom: 2%;
    }

    #me {
        width: 200px;
        height: auto;
        margin-top: 20%;
        margin-left: 5%;
    }

    .square {
        margin-top: -34%;
        margin-left: 5%;
    }

#about {
    width: 50%;
    margin-left: 40%;
    margin-top: -43%;
}

.vid {
    width: 350px;
}

.projectVid {
    margin-bottom: 5%;
}

.project {
   width: 350px;
   height: 360px;
   width: 100%;
}

#TKMH1 {
    font-size: 19px;
}

.projectINFO {
    height: 345px;
    margin-top: -50%;
    margin-bottom: 7%;
}

.projectH1 {
    font-size: 19px;
    padding-right: 2%;
}

.IMG {
    width: 320px;
    height: 190px;
    margin-bottom: 5%;
}

.projectIMG {
    height: 420px;
    width: 95%;
    flex-wrap: wrap;
}

#eerieEscapeINFO {
    margin-top: -49%;
    height: 395px;
}

#TKMINFO {
    margin-top: -51%;
    height: 510px;
    margin-bottom: 12%;
}

#TKMIMG {
    height: 420px;
}

}