/* LAPTOP SIZE */ 

@media screen and (max-width: 1024px) {
    
    body {
       margin: 3%;
    }

    #Uni {
        width: 29%;
    }

    .top-nav {
        margin-right: 55px;
        font-size: 19px;
    }

    #education {
        margin-top: 10%;
    }

    .navigation {
        margin-bottom: 10%;
    }

    #nav-items {
        margin-left: 25%;
        margin-top: -9%;
    }

    #buttons {
        margin-top: -5%;
        margin-right: -3%;
    }

    .h1 {
        font-size: 30px;
    }

    #about {
        margin-left: 28%;
        margin-top: -28%;
    }

    #me {
        width: 200px;
        height: auto;
        margin-top: 15%;
        margin-left: 2%;
    }

    .square {
        width: 200px;
        height: auto;
        margin-top: -26%;
        margin-left: 2.5%;
    }

#me2 {
    width: 200px;
}

#me3 {
    width: 200px;
}

.video {
    width: 420px;
}

.project {
   width: 420px;
   height: 400px;
}

#projects {
    margin-top: 6%;
}

.projectH1 {
    font-size: 23px;
}

.projectTxt {
    padding-right: 6%;
}

#TKMH1 {
    font-size: 23px;
}

/* the temple */

.vid {
    width: 450px;
    margin-top: 5%;
}

.projectINFO {
    width: 50%;
    margin-top: -36.5%;
}

.projectP {
    font-size: 15px;
}

.IMG {
    width: 220px;
    height: 120px;
}

.projectIMG {
    height: 135px;
    width: 96%;
}

.RMIMG {
    height: 220px; 
  }

#eerieEscapeINFO {
    margin-top: -39%;
    height: 350px;
}

#TKMINFO {
    margin-top: -40%;
    height: 410px;
}

#TKMH1 {
    font-size: 22px;
}

#reciMealINFO {
    height: 340px;
    margin-top: -38%;
}

#skills {
    margin-top: -13%;
}

}
/* large ipad size */ 

@media screen and (max-width: 840px) {


    .top-nav {
        font-size: 20px;
        margin-top: -5%;
        margin-left: 20px;
        margin-right: 4%;
        margin-bottom: 60px;
    }

    #nav-items {
        margin-top: -7%;
        float: right;
        width: 65%;
    }

    #buttons {
        margin-right: 2%;
    }

    #footer {
        bottom: 0;
        font-size: 7px;
    }

    #Uni {
        width: 35%;
    }

    #about {
        margin-top: -35%;
        width: 60%;
        margin-right: 0;
        margin-left: 35%;
    }

    #me {
        margin-top: 15%;
    }

    .square {
        margin-top: -31%;
    }

    .video {
        width: 370px;
        margin-right: 0;
    }

    .project {
        width: 370px;
        margin-right: 0;
        height: 370px;
    }

    .vid {
        width: 400px;
    }

    .projectINFO {
        width: 48%;
        margin-top: -44%;
        height: 370px;
        margin-bottom: 5%;
        margin-right: -1%;
    }

    #TKMH1 {
        font-size: 20px;
    }

    .IMG {
        width: 340px;
        height: 200px;
        margin-bottom: 5%;
    }
    
    .projectIMG {
        height: 440px;
        width: 95%;
        flex-wrap: wrap;
    }

    #eerieEscapeINFO {
        margin-top: -43.5%;
        height: 440px;
    }

    #TKMINFO {
        margin-top: -45%;
        height: 530px;
    }

    #TKMIMG {
        height: 400px;
    }

    #tkm1, #tkm2, #tkm3, #tkm4 {
        height: 180px;
    }

    #reciMealINFO {
        margin-top: -44%;
        height: 380px;
    }

    #skills {
        margin-top: -19%;
        margin-right: -1%;
    }


}

/* TABLET SIZE */ 

@media screen and (max-width: 768px) {

    #Uni {
        width: 40%;
    }

    .top-nav {
        font-size: 20px;
        margin-top: -5%;
        margin-left: 20px;
        margin-right: 2%;
    }

    #nav-items {
        float: right;
        width: 60%;
    }
     
    #myName {
        margin-right: 200px;
        font-size: 29px;
    }

    #me {
        width: 200px;
        height: auto;
        margin-top: 20%;
        margin-left: 5%;
    }

    .square {
        margin-top: -34%;
        margin-left: 5%;
    }

#about {
    width: 50%;
    margin-left: 40%;
    margin-top: -43%;
}

.vid {
    width: 350px;
}

.projectVid {
    margin-bottom: 5%;
}

.project {
   width: 350px;
   height: 360px;
   width: 100%;
}

#TKMH1 {
    font-size: 19px;
}

.projectINFO {
    height: 345px;
    margin-top: -50%;
    margin-bottom: 7%;
}

.projectH1 {
    font-size: 19px;
    padding-right: 2%;
}

.IMG {
    width: 320px;
    height: 190px;
    margin-bottom: 5%;
}

.projectIMG {
    height: 420px;
    width: 95%;
    flex-wrap: wrap;
}

#eerieEscapeINFO {
    margin-top: -49%;
    height: 395px;
}

#TKMINFO {
    margin-top: -51%;
    height: 510px;
    margin-bottom: 12%;
}

#TKMIMG {
    height: 380px;
}

footer {
    bottom: 0;
}

#tkm1, #tkm2, #tkm3, #tkm4 {
    height: 170px;
}

.video {
    width: 350px;
}
.project {
    width: 350px;
    height: 350px;
 }
 
 #projects {
     margin-top: 6%;
 }
 
 .projectTxt {
     padding-right: 6%;
 }

 #reciMealINFO {
    height: 415px;
    margin-top: -49.5%;
}

#skills {
    margin-top: -18%;
}

.experienceH1 {
    font-size: 20px;
}

.experienceH2 {
    font-size: 17px;
}

.experienceP {
    font-size: 16px;
}

#education {
    width: 375px;
}

#WE {
    width: 375px;
}

.button:hover {
    transform: scale(1);
}

.top-nav:hover {
    transform: scale(1);
}

footer {
    bottom: 0;
}

}

/* large phone size */ 

@media screen and (max-width: 425px) {

 footer {
     font-size: 6px;
    }

#myName {
    width: 100%;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 25%;
    font-size: 28px;
    margin-left: 0;
    margin-right: 0;
}

#Uni {
    display: none;
}

#email {
    margin-top: -0.7%;
}

.top-nav {
    margin-top: -6%;
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10%;
    width: 100%;
}

#nav-items {
    width: 100%;
    text-align: center;
}

.button {
    scale: 0.8;
    margin-right: 0;
}

#buttons {
    width: 100%;
    justify-content: space-between;
    margin-right: -8px;
    margin-left: 0;
    margin-bottom: 5%;
}


#about {
    margin-left: 0;
    margin-top: -620px;
    width: 100%;
}

#aboutMe {
    text-align: center;
    font-size: 15px;
    width: 390px;
}

#me {
    width: 180px;
    height: auto;
    margin-top: 100%;
    margin-left: 25%;
}

.square {
    width: 180px;
    height: auto;
    margin-top: -60%;
    margin-left: 24%;
}

#me2 {
width: 180px;
}

#me3 {
width: 180px;
}

#projects {
    justify-content: center;
}


.backButton {
    margin-top: 15%;
}

.back {
    scale: 0.8;
}

.itch {
    scale: 0.8;
    margin-right: -6%;
}

.vid {
    width: 400px;
    height: 250px;
    position: absolute;
}

.projectINFO {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: -10%;
    margin-top: 75%;
    width: 400px;
    height: 370px;
}

.projectIMG {
    display: flex;
    justify-self: center;
    width: 360px;
    height: 820px;
    margin-left: 0;
    margin-right: 0;
}

.IMG {
    margin-left: 0;
    padding-left: 10px;
}

#eerieEscapeINFO {
    margin-top: 75%;
    height: 450px;
}

#TKMINFO {
    margin-top: 75%;
    height: 550px;
}

#TKMIMG {
    height: 740px
}

#reciMealINFO {
    margin-top: 75%;
    height: 440px;
}

.RMIMG {
    height: 200px; 
    width: auto;
  }

#rm1, #rm2, #rm3, #rm4, #rm5, #rm6 {
    display: flex;
    align-items: center;
    padding-right: 25px;
    width: 90px;
}

  #reciMealIMG {
    height: 450px;
  }

.experienceH1 {
    font-size: 16px;
}

.experienceH2 {
    font-size: 14px;
}

.experienceP {
    font-size: 13px;
}

#education {
    width: 90%;
    margin-top: 200px;
    margin-left: 0;
    margin-right: 0;
}

#skills {
    margin-right: 5px;
    margin-top: 30px;
    width: 90%;
}

#WE {
    margin-top: 85%;
    width: 90%;
}
}

/* FOR MEDIUM SIZED PHONE */


@media screen and (max-width: 375px) {


.h1 {
    font-size: 18px;
}

#myName {
    width: 100%;
    margin-bottom: 25%;
    font-size: 22px;
}

#aboutMe {
    width: 92vw;
    text-align: center;
}

.square {
    margin-top: -64%;
}

#me {
    margin-top: 105%;
}

#buttons {
    margin-right: -30px;
}

#projects {
    margin-left: 3px;
}

#eerieEscape {
    margin-top: 0;
}

#reciMeal {
    margin-top: 0;
}

.button:hover {
    transform: scale(1);
}

.top-nav:hover {
    transform: scale(1);
}

#skills {
    margin-right: 0.5%;
}

#WE {
    margin-top: 280px;
}

.top-nav {
    font-size: 15px;
    margin-left: 0;
    margin-right: 0;
    transform: scale(1);
    margin-bottom: 0;
}

#nav-items {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10%;
}

.button {
    transform: scale(0.8);
    margin-right: -10px;
    margin-left: 0;
}

#buttons {
    justify-content: space-between;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 5%;
}

.navigation {
    margin-bottom: 0;
}

.vid {
    width: 350px;
}

.projectINFO {
    margin-top: 82%;
    height: 370px;
}

.projectIMG {
    width: 89%;
}

.IMG {
    width: 320px;
    margin-left: -5px;
}

#eerieEscapeINFO {
    margin-top: 82%;
    height: 420px;
}

#TKMINFO {
    margin-top: 82%;
    height: 520px;
}

#reciMealINFO {
    height: 420px;
    margin-top: 82%;
}

#education {
     margin-top: 38%;
}

#WE {
    margin-top: 90%;
}

}

/* SMALL PHONE SIZE */

@media screen and (max-width: 320px) {

#me {
    margin-top: 400px;
}

#nav-items {
    margin-bottom: 10%;
}

.square {
    margin-top: -74%;
    margin-left: 21%;
}

#photo {
    margin-right: 20%;
}

#about {
    margin-top: -200%;
}

.video {
    width: 300px;
}

#projects {
    margin-left: 0;
}

.project {
    height: 320px;
}

.itch {
    width: 70%;
}

.backButton {
    transform: scale(0.8)
}

.vid {
    margin-top: 60px;
    width: 300px;
}

.projectINFO {
    margin-top: 100%;
    height: 420px;
    margin-right: 2px;
    margin-left: 0;
}

.projectIMG {
    width: 260px;
}

.IMG {
    width: 270px;
    height: 170px;
}

#eerieEscapeINFO {
    margin-top: 100%;
    height: 450px;
}

#TKMINFO {
    margin-top: 100%;
    height: 580px;
}

#reciMealINFO {
    margin-top: 100%;
}

#tkm1, #tkm2, #tkm3, #tkm4 {
    height: 150px;
}

#education {
    margin-top: 50%;
    margin-left: 0;
    margin-right: 0;
    width: 265px;
}

#skills {
    margin-right: 0;
    width: 265px;
}

#WE {
    margin-top: 97%;
    width: 265px;
}

}