body {
    background-color: rgb(17, 17, 17);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5%;
}

li {
    color: white;
}

 #nav-items {
  list-style-type: none;
}

#buttons {
  list-style-type: none;
}

.button {
    -webkit-filter: invert(44%) sepia(15%) saturate(1557%) hue-rotate(224deg) brightness(94%) contrast(94%);
}

.button:hover {
    -webkit-filter: none;
}

h1 {
    color: #8460b3;
    font-weight: 500;
    font-size: 40px;
}


#CV {
    font-size: 20px;
    border: 2px solid white;
    padding: 5px 5px 5px 8px;
    width: 50px;
    border-radius: 5%;
}