/* star background css */

html {
    background: radial-gradient(#0e0e16 0%, #0a0a0a 100%);
    width: 100%;
    height: 100%;
  }

::-webkit-scrollbar {
    width: 5px; 
}

::-webkit-scrollbar-track {
    background: #0a0a0a; 
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.578); 
}


  #stars, #stars2, #stars3 {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  #stars > div, #stars2 > div, #stars3 > div {
    position: absolute;
    width: 2px;
    height: 2px;
    background: #FFF;
    opacity: 0.8;
    animation: animStar linear infinite;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  

/* general css across all pages */ 

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

li.active a {
    color: #8e5fed;
  }
  
a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

li {
    color: white;
}


 #nav-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  margin-left: 28%;
  margin-top: -5%;
}

.top-nav {
    font-weight: bold;
    font-size: 20px;
    margin-right: 100px;
}

#itchio {
    padding-top: 1%;
}

#email {
    padding-top: 2.5%;
}

.top-nav:hover {
    color: #8e5fed;
    transform: scale(1.1);
}

#nav {
    margin-top: -2%;
}

#buttons {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: -6%;
}

.button {
    -webkit-filter: invert(45%) sepia(80%) saturate(3911%) hue-rotate(232deg) brightness(93%) contrast(101%);
    width: 50px;
    margin-right: 5px;
}

.button:hover {
    -webkit-filter: none;
    cursor: pointer;
    transform: scale(1.1);
}

.h1 {
    color: #8e5fed;
    font-size: 38px;
}

.h2 {
    font-weight: 300;
    font-size: 17px;
    color: white;
    margin-top: -1%;
}


#CV {
    font-size: 20px;
    border: 2px solid white;
    padding: 5px 5px 5px 8px;
    width: 50px;
    height: 25px;
    border-radius: 5%;
    margin-top: 0.5%;
}

/* css for about page */

#me {
    margin-top: 8%;
    border: 2px solid #8e5fed;
    z-index: 1;
    position: relative;
}

.square {
    border: 2px solid #8e5fed;
    width: 230px;
    position: absolute;
    margin-top: -21%;
    z-index: -1;
    box-shadow: 0 0 3px 1px #8e5fed;
}

#square1 {
    transform: rotate(-20deg);
}

#square2 {
    transform: rotate(-10deg);
}

#me2 {
    opacity: 0;
    width: 230px;
}

#me3 {
    opacity: 0;
    width: 230px;
}

#about {
    position: absolute;
    margin-left: 22%;
    margin-top: -19%;
    font-size: 19px;
    width: 65%;

}
#aboutMe {
    color: white;
}

/* css for experience page */

.experience {
    margin-top: 7%;
    background-color: #212121;
    height: 30%;
    width: 55%;
    padding: 10px;
    padding-left: 25px;
    padding-top: 5px;
    border-radius: 3px;
}

.experienceH1 {
    font-size: 25px;
    color: #c0a8f2;
}

.experienceH2 {
    font-size: 19px;
    color: #ffffff;
}

.experienceP {
    color: white;
    font-size: 18px;
    padding-right: 1%;
}

#skills {
    float: right;
    width: 35%;
    margin-top: -10%;
    margin-bottom: 5%;
}

#WE {
    margin-top: 3%;
}

/* css for projects page */

#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

#theTemple {
    margin-top: 5%;
    background-color: #191919;
    width: 580px;
    height: 480px;

}

#eerieEscape {
    margin-top: 5%;
    background-color: #191919;
    width: 580px;
    height: 480px;
}

#TKM {
    margin-top: 5%;
    background-color: #191919;
    width: 580px;
    height: 480px;
    margin-bottom: 5%;
}

#reciMeal {
    margin-top: 5%;
    background-color: #191919;
    width: 580px;
    height: 480px;
    margin-bottom: 5%;
}


.project:hover .video {
    -webkit-filter: brightness(120%) contrast(90%);
}


.project:hover .projectH1 {
    color: white;
    cursor: pointer;
}

.project:hover .arrow {
    -webkit-filter: none;
}

.projectH1 {
    color: #8e5fed;
    font-weight: 550;
    font-size: 27px;
    margin-left: 4%;
}

.projectTxt {
    color: white;
    padding-top: 1%;
    margin-left: 4%;
}

.star {
    z-index: -1;
}

.arrow {
    -webkit-filter: invert(45%) sepia(80%) saturate(3911%) hue-rotate(232deg) brightness(93%) contrast(101%);
    float: right;
    margin-right: 4%;
    margin-top: -11%;
}

.link {
    z-index: 1;
}

/* individual project pages */

.backButton {
    width: 50px;
    margin-top: 5%;
}

.backArrow {
    rotate: 180deg;
    margin-top: 4%;
}

.back {
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-left: 27px;
    margin-top: -27px;
}


.backButton:hover {
    -webkit-filter: invert(45%) sepia(80%) saturate(3911%) hue-rotate(232deg) brightness(93%) contrast(101%);
    color: #8e5fed;

}

.projectINFO {
    background-color: #212121;
    border-radius: 3px;
    float: right;
    margin-top: -27.5%;
    height: 315px;
    width: 55%;
}

#TKMINFO {
    height: 370px;
    margin-top: -29%;
    margin-bottom: 3%;
}

.itch {
    float: right;
    font-size: 1.2em;
    -webkit-filter: invert(45%) sepia(80%) saturate(3911%) hue-rotate(232deg) brightness(93%) contrast(101%);
    text-decoration: underline;
    margin-top: -4%;
}


.itch:hover {
    -webkit-filter: none;
    color: white;
}

.projectVid {
    margin-top: 2%;
    width: 560px;
    margin-bottom: 3%;
}


.projectP {
    color: white;
    font-size: 1em;
    margin-left: 5%;
    margin-right: 5%;
}


.projectIMG {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%; 
    height: 180px; 
    background-color: #212121; 
    padding: 20px; 
    border-radius: 3px;
  }

  #reciMealIMG {
    height: 220px; 
  }

  #TKMIMG {
    height: 150px; 
  }

  .space {
    height: 50px;
  }

  b {
    color:#c0a8f2;
  }

/* the kings meadow page */

#TKMvid {
    width: 560px;
}

