body {
    background-color: rgb(18, 18, 18);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

li {
    color: white;
}

#nav-items {
    list-style-type: none;
}

#buttons {
    list-style-type: none;
}

#github {
    -webkit-filter: invert(44%) sepia(15%) saturate(1557%) hue-rotate(224deg) brightness(94%) contrast(94%);
}

#github:hover {
    -webkit-filter: none;
}